<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href="{% static "css/bootstrap.min.css" %}" type="text/css"/>
     <link rel='stylesheet' href="{% static "css/style.css" %}" type="text/css"/>
</head>
<body>
    <div class="container-fluid c_head">
  <div class="row">
   <h1 class="t_t">My Awesome Blog !</h1>
   <p class="t_t">Welcome to my blog, check out the recent posts. Have fun !</p>
  </div>
</div>
<br>

{% block content %}
{% endblock %}

 <div class="row">
   <p class="t_t"> <a target="_blank" href="/admin/"> Create a New Post </a> |Follow me on <a target="_blank" href="#">Twitter</a> | <a target="_blank" href="#">LinkedIn</a> | <a target="_blank" href="#">Instagram</a>  </p>
  </div>

</body>
</html>

 